// -- Sky blue
$palette-sky: #a3bde2;
$palette-sky-darkest: #6a8bcd;
$palette-sky-gradient: linear-gradient(to top, $palette-sky-darkest, $palette-sky);

// -- Aqua
$palette-aqua: #a4cac7;
$palette-aqua-darkest: #6ca49e;
$palette-aqua-gradient: linear-gradient(to top, $palette-aqua-darkest, $palette-aqua);
